SEARXNG_IP_ADDRESS=
SEARXNG_VALKEY_IP_ADDRESS=
EXTERNAL_NETWORK_NAME=
SEARXNG_SECRET=

# Optional variables for SearXNG container
SEARXNG_CONFIG_FOLDER=
SEARXNG_DATA_FOLDER=
SEARXNG_VALKEY_DATA_FOLDER=
SEARXNG_BASE_URL=
#if blank, defaults to false, if set to a valid Valkey URL, SearXNG will use Valkey for caching and rate limiting. The URL should be in the format valkey://<host>:<port>/<db>, where <host> is the hostname or IP address of the Valkey server, <port> is the port number (default is 6379), and <db> is the database number (default is 0). Ex: valkey://$SEARXNG_VALKEY_IP_ADDRESS:6379/0
SEARXNG_VALKEY_URL=
#true or false, if true, SearXNG will use an image proxy to fetch images, which can improve privacy and security when loading images from search results. If false, SearXNG will load images directly from their original sources.
SEARXNG_IMAGE_PROXY=
# If set to a valid rate limit string, SearXNG will enable rate limiting for incoming requests. The format of the string should be <number_of_requests>/<time_window>, where <number_of_requests> is the maximum number of requests allowed within the specified time window, and <time_window> is the duration for which the rate limit applies (e.g., 10/m for 10 requests per minute, 100/h for 100 requests per hour). Ex: 10/m
SEARXNG_LIMITER=